@use '../../foundation/mixins' as mixin;

.c-figure {
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
  }
  figcaption {
    padding-top: 1em;
  }
  @include mixin.bp(md) {
    display: table;
    figcaption {
      @include mixin.fs(14, 24);
      display: table-caption;
      caption-side: bottom;
    }
  }
  @include mixin.bp(sm) {
    figcaption {
      @include mixin.fs(12, 24);
    }
  }
}
